<h2><%= @desc %></h2>
<table >
  <thead>
    <tr>
      <td> Property ID </td>
      <td> Image </td>
      <%if !@is_graphql %>
        <td> Price </td> 
      <% end %>
      <td> corridinates(X,Y) </td>
      <td> Date </td>
      <td> Link </td>
    </tr>
  </thead>
  <tbody>
    <% @data.each do|row| %>
      <% if @is_graphql %>
        <tr>
          <td> <%= truncate(row[:id], :length => 50) %> </td>
          <td> <img src="<%= row[:image] %>" style="height: 100px"> </td>
          <td> <%= row[:parcel][:x] %> , <%= row[:parcel][:y] %> </td>
          <td> <%= Time.at(row[:createdAt].to_i).strftime '%Y-%m-%d' %> </td>
          <td><a href="https://market.decentraland.org/contracts/<%= row[:contractAddress] %>/tokens/<%= row[:tokenId] %>" >Link</a> </td>
        </tr>
      <% else %>
        <% if @data.nil? %>
          <h4>Comming Soon......</h4>
        <%else%>
          <tr>
            <td> <%=  truncate(row['nft']['id'], :length => 50) %> </td>
            <td> <img src="<%= row['nft']['image'] %>" style="height: 100px"> </td>
            <td> <%= (row['order']['price'].to_i / 1000000000000000000 ) %> </td>
            <td> <%= row['nft']['data']['parcel']['x'] %> , <%= row['nft']['data']['parcel']['y'] %> </td>
            <td> <%= Time.at(row['nft']['createdAt'].to_i/1000).strftime '%Y-%m-%d' %> </td>
            <td><a href="https://market.decentraland.org<%= row['nft']['url'] %>" >Link</a> </td>
          </tr>
        <%end%>
      <%end%>
    <%end%>
  </tbody>
</table>