<!DOCTYPE html>
<html>
  <head>
    <title>Metaverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#navbar ul {
position:absolute;
padding:0;
left:0;
display:none; /* hides sublists */
}

#navbar li:hover ul {display:block;}
</style>

<script>
// Add active class to the current button (highlight it)
var header = document.location.pathname;
</script>
  </head>
  <body>
  <ul id="navbar">
    <li><a class="<%= 'active' if @accounts  %>" href="/">Account</a></li>
    <li>
    <a class="<%= 'active' if @properties  %>" href="/properties">Properties</a>
      <ul>
        <li><a href="/properties">Most bids</a></li>
        <li><a href="/expensive_properties">Expensive</a></li>
        <li><a href="/least_expensive">Cheap</a></li>
      </ul>
    </li>
    <li><a class="<%= 'active' if @transactions  %>" href="/transactions">Recent Transactions</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
