<h2>Top 10 Accounts</h2>
<table>
<thead>
<tr>
  <td> owner ID </td>
  <td> Address </td>
  <td> Earning </td>
  <td> Sales </td>
  <td> Purchases </td>
  <td> Spent </td>
  <td> Property Count </td>
  </tr>
</thead>
<tbody>
<% @data.each do|row| %>
  <tr>
  <td> <%= row[:onwer_id] %> </td>
  <td> <%= row[:data][:address] %> </td>
  <td> $<%= number_to_human((row[:data][:earned].to_i / 1000000000000000000 ) * @mana_rate, format: '%n%u', precision: 4, units: { thousand: 'K', million: 'M' })%> </td>
  <td> <%= row[:data][:sales] %> </td>
  <td> <%= row[:data][:purchases] %> </td>
  <td> $<%= number_to_human((row[:data][:spent].to_i / 1000000000000000000 ) * @mana_rate, format: '%n%u', precision: 4, units: { thousand: 'K', million: 'M' })%> </td>
  <td> <%= row[:parcels_count] %> </td>
  </tr>
<%end%>
</tbody>
</table>