<h2>Top 10 Accounts</h2>
<table>
<thead>
<tr>
  <td> owner ID </td>
  <td> Address </td>
  <td> Earning </td>
  <td> Sales </td>
  <td> Purchases </td>
  <td> Spent </td>
  <td> Property Count </td>
  </tr>
</thead>
<tbody>
<% @data.each do|row| %>
  <tr>
  <td> <%= row[:onwer_id] %> </td>
  <td> <%= row[:data][:address] %> </td>
  <td> <%= row[:data][:earned] %> </td>
  <td> <%= row[:data][:sales] %> </td>
  <td> <%= row[:data][:purchases] %> </td>
  <td> <%= row[:data][:spent] %> </td>
  <td> <%= row[:parcels_count] %> </td>
  </tr>
<%end%>
</tbody>
</table>